html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container-map {
  position: relative;
  width: 100vw;   /* toujours la largeur de l'écran */
  height: 100vh;  /* toujours la hauteur de l'écran */
  margin: 0;
  padding: 0;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  z-index: 0;
}

.selected-mcdo {
  position: absolute;
  bottom: 0;       /* collé en bas */
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 700;
  padding: 10px;
  border-radius: 16px 16px 0 0;
  box-shadow: 0 12px 36px 0 rgba(0, 0, 0, 0.45);
box-sizing: border-box;
  /* texte qui revient à la ligne */
  white-space: normal; 
  word-wrap: break-word;

  /* hauteur minimale mais extensible si contenu plus long */
  min-height: 100px;
  max-height: none; 
}
:host ::ng-deep {
  .leaflet-control-zoom {
    .leaflet-control-zoom-in {
      margin-bottom: 5px; // Ajoute un espace de 5px entre les boutons
    }
  }
}
